body{
  font-family: 'Montserrat',  'sans-serif';
  }
  
  
  .card-body .card-title {
    text-align: center;
    margin-top: 7px;
  }
  
  .card-section {
    margin: 1rem;
    background-color: whitesmoke;
    text-align: center;
  }
  
  .container{
    background-attachment: white;
    width: 100%;
  }
  
  
  .section-0{
    background-color: #37bbe454;
    text-align: center;
    width: 90%;
    font-family: Montserrat;
    font-size: small;
    margin: auto;
    border-radius: 75px;
    margin-top: 20px;
  }
  
  .section-0 img{
    height: 300px;
    width: 360px;
  }
  
  .section-2 {
    background-color: whitesmoke;
      width: 90%;
      margin: auto;
      border-radius: 75px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;
  }
  
  .web {
    background-color: #37E491;
    border-radius: 20px;
  }
  .app {
    background-color: #37BBE4;
    border-radius: 20px;
  }
  .cloud {
    background-color: #D7D1EE;
    border-radius: 20px;
  }
  .open-source {
    background-color: #9747FF;
    border-radius: 20px;
  }
  .custom-software {
    background-color: #9747FF;
    border-radius: 20px;
  }
  .tech-assist {
    background-color: #D7D1EE;
    border-radius: 20px;
  }
  .ui-ux {
    background-color: #37BBE4;
    border-radius: 20px;
  }
  .ecommerce {
    background-color: #00FF84;
    border-radius: 20px;
  }
  
  .section-1 {
    background-color: #37bbe454;
    width: 90%;
    margin: auto;
    border-radius: 75px;
    margin-top: 20px;
    margin-bottom: 25px;
  
  }
  
  .cloud-1 {
    background-color: #37bbe454;
    border-radius: 60px;
  }
  
  .cloud-01 {
    background-color: whitesmoke;
    border-radius: 50px;
  }
  
  .training-01 {
    background-color: #A0E8FF;
    border-radius: 50px;
    align-items: center;
  }
  
  .announce {
    background-color: #A0E8FF;
    border-radius: 50px;
    align-items: center;
    margin-top: 25px;
  }
  
  .jobs-01 {
    background-color: #A0E8FF;
    border-radius: 50px;
  }
  
  .section-03 {
    background-color: #A0E8FF;
    width: 90%;
    margin: auto;
    border-radius: 75px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .webinarimg {
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
  }
  
  .webinar h2 {
    margin-top: 60px;
  }
  
  .bannertext{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .bannerimg {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
  }
  
  .bannertext p {
    text-align: center;
  }
  
  
  header .nav-item:last-child {
    padding-right: 10.5em;
  }
  
  .logoimg{
    vertical-align: middle;
    border-style: none;
    height: 80px;
    width: auto;
    padding-left: 2rem;
  }
  
  header .nav-link:hover {
    color: black;
  }
  
  .nav-item a {
    color: black;
  }
  
  .nav-item a:hover {
    color: black;
    text-decoration: none;
  }
  
  
  .section-1 {
    padding: 6vmin 0vmin;
  }
  
  
  .purchase > h2 {
    margin-top: 10px;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
  }
  
  .purchase > p {
    color: var(--light-black);
    font-size: 3vmin;
  }
  
  .service-section {
    margin-top: 25px;
  }
  
  
  .text-secondary {
    text-align: center;
  }
  
  
  footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 30px -6px;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
  }
  
  
  
  .footer-section {
  background: rgb(27, 27, 27);
  position: relative;
  width: 95%;
  margin: auto;
  border-radius: 75px 75px 0 0;
  }
  
  .footer-content {
  position: relative;
  z-index: 2;
  width: 98%;
  }
  
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #ffffff;
  line-height: 28px;
  text-align: justify;
  }
  
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  }
  
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  }
  
  .footer-social-icon i {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #1ab4de;
  }
  .instagram-bg{
    background-color: #F56040;
  }
  .linkedin-bg{
    background-color: #0077b5;
  }
  .youtube-bg{
    background-color: #FF0000;
  }
  .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-right: 20px;
  position: relative;
  }
  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 81px;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #2271bc;
  margin-right: 20px;
  }
  .footer-widget ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #34d0e5;
  }
  .img-fluid {
    max-width: 100%;
    height: 100px;
  }
  .footer-widget ul li a {
  color: white;
  text-transform: capitalize;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0px;
    background: #0093ee;
    padding: 14px 5px;
    border: 1px solid #4a4a4a;
    top: 0;
    color: white;
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  }
  .copyright-area{
  background: #202020;
  }
  .copyright-text p {
  margin-top: 4%;
  font-size: 14px;
  color: white;
  text-align: left;
  }
  .copyright-text p a{
  color: #24bbda;
  }
  
  .footer-menu {
  margin-top: 4%;
  font-size: 14px;
  color: white;
  text-align: right;
  }
  
  .footer-menu li {
  display: inline-block;
  margin-left: 20px;
  }
  .footer-menu li:hover a{
  color: #29e0da;
  }
  .footer-menu li a {
  font-size: 14px;
  color: white;
  }
  .phone-details a {
    color: white;
    text-decoration: none;
  }
  .email-details a {
    color: white;
    text-decoration: none;
  }
  
  
  .footer-widget-phone{
    color: white;
  }
  .footer-widget-heading{
    text-align: center;
    margin-right: 60px;
  }
  
  .imgofabout{
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .aboutsection{
    margin-top: 20px; 
  }
  
  .aboutsection p {
    text-align: justify;
  }

  .webinar-01 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .webinar-card {
    background-color: #37bbe454;
  }